<mat-card>
  <h1 class="gloria">Add Team Training</h1>
  <form>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Sprint" name="sprint" [(ngModel)]="sprint">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Projects" [(ngModel)]="selectedProject" name="project">
        <mat-option *ngFor="let project of projects" [value]="project.name">
          {{project.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit" (click)="addTraining()">
      Add Training
    </button>
  </form>
  <p style="color:orangered">{{added}}</p>
</mat-card>

<mat-card style="margin-top: 20px;">
  <h1 class="gloria">Current Weather</h1>
  <h2 style="margin: 3px 0;">
    {{weather.current_observation.temp_f}} &#8457; {{weather.current_observation.weather}}
  </h2>
  <h4 style="margin: 3px 0;">
    {{weather.current_observation.temp_c}} &#8451;
  </h4>
  <p>
    Feels Like: {{weather.current_observation.feelslike_f}} &#8457; -- 
    {{weather.current_observation.feelslike_c}} &#8451;
  </p>
  <p style="color:peru">
    <em>Source: Weather Underground</em>
  </p>
</mat-card>